*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.card{
    background-image: url(/assets/uploads/images/one-person-typing.avif);
    /* background-repeat: no-repeat; */
    width: 1000px;
    height: 400px;
    /* background-image: cover; */
}
